<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="weatherInfo" type="training.metofficeweather.web.WeatherInfo"-->

    <head>
        <title>Weather Information</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Weather Information</h2>
            <div>
                <p>You entered location id <span th:text="${weatherInfo.locationId}"></span></p>
            </div>
            <div>
                <span th:text="${weatherInfo.getInfo().toString()}"></span>
            </div>
        </div>
    </body>
</html>